<link rel="stylesheet" href="/footer.css">

<footer>
    
    <nav>
        <a href="https://www.linkedin.com/in/patryk-posluszny-37728a306/e" target="_blank" class="linkedin-icon">
            <img src="/images/linkedin-logo.png" alt="LinkedIn">
            <a href="https://github.com/sondalgmaster" target="_blank" class="linkedin-icon">
                <img src="/images/githublogo.png" alt="GitHub">
            </a>
        </a>
    </nav>
    <p>&copy; 2024 Patryk Posluszny</p>
</footer>
