<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patryk Ryszard Posluszny</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/script/phone.js" defer></script>
    
</head>
<body>
  <header>
    <div class="header-left">
        <a href="/#home" class="logoPatryk"><h1>Patryk Ryszard Posluszny</h1></a>
    </div>
    <div class="header-right">
        <a href="/#home">.Home</a>
        <a href="/#about">.About</a>
        <a href="/#projects">.Projects</a>
        <a href="/#contact">.Contact</a>
    </div>
    <div class="menu-toggle" onclick="toggleMenu()">
      <div class="hamburger-icon"></div>
    </div>
  </header>
  
  <!-- Menu container -->
  <div class="menu-container" id="menuContainer">
    <ul class="menu" onclick="event.stopPropagation()">
      <li class="menu-item"><a href="/#home">.Home</a></li>
      <li class="menu-item"><a href="/#about">.About</a></li>
      <li class="menu-item"><a href="/#projects">.Projects</a></li>
      <li class="menu-item"><a href="/#contact">.Contact</a></li>
    </ul>
  </div>
  </body>