<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patryk Ryszard Posluszny</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/script/phone.js" defer></script>
    
</head>
<header>
    <div class="header-left">
        <a href="/#home" class="logoPatryk"><h1>Patryk Ryszard Posluszny</h1></a>
        
    </div>
    <nav class="header-right">
        <nav class="header-right">
            <a href="/#home">.Home</a>
            <a href="/#about">.About</a>
            <a href="/#projects">.Projects</a>
            <a href="/#contact">.Contact</a>
        </nav>
        
    </nav>
</header>