<%- include("./partials/header.ejs") %>
<script src="/script/script.js" defer></script>
<script src="/script/phone.js" defer></script>

<body>
    <section id="home" class="home"></section>
    <section class="intro">
        <h1 class="name" id="name1"></h1>
        <h2 class="name" id="name2"></h2>
        <h3 class="role" id="role"></h3>
        <div class="pHome">
            <p>I am an aspiring developer with skills in web development, both front-end and back-end. On the front end, I am proficient in HTML, CSS, and JavaScript. On the back end, I have experience with Node.js. Additionally, I have extensive experience with database programming, particularly with MSSQL, and I am also knowledgeable in MySQL.</p>
        </div>
        <div class="sectionsplit"></div>
    </section>


    <section id="about" class="aboutMeSection">

    </section class="intro">
        <!-- about Me -->

        <div class="paboutMe">
            <h1>About me</h1>
            <p>My journey into the world of IT began during my time in secondary school, where I was in a programming class and learned Python.</p><br>

            <p>When I started VG1 in the IM line, I learned how to use various tools in the Adobe suite. I also learned a lot about Linux and Linux servers at school. I learned how to program in CSS and HTML on my own as well.</p><br>
            
            <p>In VG2, during my time in the IT line, I mastered the art of building PCs and learned to set up a virtual network on Hyper-V, where IPfire acted as a firewall and DHCP server. This hands-on experience broadened my understanding of network architecture and server administration. We also set up a Debian web server and Windows server with AD, FTP, and DNS. We even created virtual Windows machines that we managed with GPO.</p><br>
            
            <p>I also learned a lot about JavaScript, embedded JavaScript, and Node.js. I learned how to use MySQL and used it with Node.js.</p><br>
            
            <p>I also had a six-week internship at Realcom in Skedsmokorset. There, I became familiar with their programming tools, especially Unifront. This time gave me a lot of useful knowledge about how to use MySQL and MSSQL databases. I even developed an application that used both! This project demonstrated my skills in database administration and app development, as I created a platform that could handle user authentication and group administration.</p><br>
            
            <p>As I approach the exam at Nannestad VGS, I feel confident with a solid skill set in HTML, CSS, JavaScript, Node.js, Python, and especially MSSQL. With practical experience in web development and databases, I look forward to starting an exciting career in the IT industry, where I can explore new ideas and be creative!</p><br>
            
        </div>
            
        </section>
        
        
        

        <!-- My skils -->
        <section class="skill-tree">
            <h2>My Skills</h2>
            <div class="branches">
                <div class="branch">
                    <h3>Adobe</h3>
                    <ul>
                        <li>Photoshop</li>
                        <li>Illustrator</li>
                        <li>InDesign</li>
                        <li>After Effects</li>
                    </ul>
                </div>
                <div class="connector"></div>
                <div class="branch">
                    <h3>Programming</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Node.js</li>
                        <li>Python</li>
                        <li>MSSQL</li>
                        <li>MYSQL</li>
                    </ul>
                </div>
                <div class="connector"></div>
                <div class="branch">
                    <h3>Software</h3>
                    <ul>
                        <li>Windows Server</li>
                        <li>Linux Servers</li>
                        <li>Virtualization (HyperV)</li>
                        <li>Networking</li>
                    </ul>
                </div>
            </div>
            <div class="sectionsplit"></div>
        </section>
        
    
    <!-- My projects -->
    
    <section id="projects" class="Projects">
        <h1>Projects</h1>
        <div class="projectsection">
            <div class="projectsectiondvi">
                <a href="/unifrontapp">
                    <h3>Unifront app with MSSQL and MYSQL</h3>
                    <p>I have developed an app with Unifront using databases such as MSSQL and MySQL.</p>
                    <img src="/images/UnifrontProject1.PNG" alt="Screenshot of Unifront project" class="projectIMG">
                </a>
            </div>
            <!--  
            <div class="projectsectiondvi">
                <a href="project2.html">
                    <h3>Project Title 2</h3>
                    <p>Project description for the second project goes here.</p>
                    <img src="/images/Project2.PNG" alt="Screenshot of project 2" class="projectIMG">
                </a>
            </div>
            -->

        <div class="sectionsplit"></div>
        
    </section>

    <!-- Contact-->
    <section id="contact" class="ContactMe">
        <h2>Contact Me</h2>
        <form action="/submit-contact-form" method="POST">
            <div>
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="phone">Phone Number (optional):</label>
                <input type="tel" id="phone" name="phone">
            </div>
            <div>
                <label for="company">Company (optional):</label>
                <input type="text" id="company" name="company">
            </div>
            <div>
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="6" maxlength="1000" required></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
        
        
    </section>
</body>

<%- include("./partials/footer.ejs") %>
