/* Header Styling */
header {
    background-color: #1b2335;
    color:  #00ff00;;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}
.logoPatryk{
    color: #00ff00;
    text-decoration: none;
}


.header-left {
    margin-right: auto; /* Push it to the left */
    margin-left: 100px; /* Add margin to push it 100px from the left */
    display: flex; /* Align vertically with .header-right */
    align-items: center; /* Align vertically with .header-right */
    text-align: center;
    
    
}

.header-right {
    margin-left: auto; /* Push it to the right */
    margin-right: 100px; /* Add margin to push it 100px from the right */
    align-items: center;
}

.header-right a {
    color:  #00ff00;;
    text-decoration: none;
    margin-left: 20px;
}

.header-right a:hover {
    color: #0906db;
}

